# Ignore node_modules in both frontend and backend
frontend/node_modules
server/node_modules

# Build output
frontend/dist

# Logs and env files
*.log
*.env
.DS_Store

node_modules

/server/package-lock.json
/server/lambda.zip

# In frontend/.gitignore
.env

lambda.zip